@import '~style/colors.module';
@import '~style/mixins';
@import '~style/variables.module';

.notesSection {
  height: 100vh;

  background-color: $light-gray-color;
  border-right: 1px solid $dark-gray-color;
}

.searchWrapper {
  @include section-header;
}

.notes {
  height: calc(100vh - $section-header-height);

  overflow-y: scroll;
}