@import '~style/colors.module';
@import '~style/mixins';

.header {
  height: 100vh;
  
  background-color: $light-gray-color;
  border-right: 1px solid $dark-gray-color;  
}

.logoWrapper {
  @include section-header;
}

.nav {
  flex-grow: 1;
  justify-content: space-between;
  padding: 50px 40px;
}

.tags {
  height: 50vh;
  overflow-y: auto;
}
