@font-face {
  font-family: 'Segoe UI';
  src: url('../common/fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../common/fonts/SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../common/fonts/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

$primary-font: 'Segoe UI';

:export {
  primaryFont: $primary-font;
}